.cards-wrapper {
  padding-top: 70px;
}

.cards {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 20px;
  margin: 0 auto;
  justify-content: center;
}

.cards-load-more {
  max-width: 1280px;
  margin: 50px auto 80px;
  padding: 0 70px;
}

.cards-load-more__text {
  background-color: #f9f9f9;
  padding: 10px 0;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  cursor: pointer;
  transition: opacity .3s;
}

.cards-load-more__text:hover {
  opacity: .7;
}

@media (max-width: 1279px) {
  .cards {
    padding: 0 30px;
    grid-template-columns: repeat(2, 339px);
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .cards {
    padding: 0 10px;
    grid-template-columns: repeat(1, 300px);
    gap: 34px;
  }
}
