.section-title {
  border-bottom: 1px solid #000;
}

.section-title__heading {
  margin: 0;
  padding: 0 0 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
}
