.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.not-found__title {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 1.21;
  margin: 0;
}

.not-found__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 5px;
}

.not-found__button {
  padding: 0;
  margin: 184px 0 0;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #4285F4;
  background-color: transparent;
  cursor: pointer;
}
