.search {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 80px 70px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__line {
  max-width: 1140px;
  width: 100%;
  margin-top: 40px;
  padding: 0 70px;
  height: 1px;
  background-color: #424242;
}

.search-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__input {
  max-width: 1086px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
  color: #a0a0a0;
  margin-right: 10px;
  padding: 16px 20px;
}

.search-form__search-btn {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: #4285F4;
  border: none;
  outline: none;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity .3s;
}

.search-form__search-btn:hover {
  opacity: .7;
}

.search-filter {
  margin-top: 29px;
  display: flex;
  align-items: center;
}

.search-filter__text {
  margin-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}

@media (max-width: 1279px) {
  .search__line {
    margin-top: 56px;
  }

  .search-filter {
    margin-top: 37px;
  }

  .search-form__input {
    max-width: 1114px;
  }
}


@media (max-width: 767px) {
  .search {
    padding: 80px 10px 0;
  }

  .search-line {
    padding: 0 10px;
  }

  .search__line {
    width: calc(100% - 20px);
  }
}
