.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 70px 20px;
}

.footer-title {
  margin: 0;
  padding: 0 0 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-info__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  margin: 0;
}

.footer-info-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-info-links__item {
  margin-right: 20px;
}

.footer-info-links__item:last-child {
  margin-right: 0;
}

.footer-info-links__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.13;
  text-decoration: none;
  color: #fff;
  transition: opacity .3s;
}

.footer-info-links__link:hover {
  opacity: .7;
}

@media (max-width: 1279px) {
  .footer {
    padding: 70px 50px 20px;
  }
}

@media (max-width: 467px) {
  .footer {
    padding: 70px 10px 20px;
  }

  .footer-info {
    flex-direction: column-reverse;
  }

  .footer-title {
    font-size: 12px;
    line-height: 1.25;
  }

  .footer-info-links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer-info-links__item {
    margin-bottom: 12px;
    margin-right: 0;
  }

  .footer-info-links__item:last-child {
    margin-bottom: 0;
  }
}
